html,
body {
  box-sizing: border-box;
}
html {
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  display: block;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
body {
  overflow-x: hidden;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: $color-text;
  background: #1e213f;
}
.main {
  flex: 1 0 auto;
  overflow: hidden;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 15px;
  z-index: 1;
}
.hide {
  display: none;
}
